/* botton */

button {
  cursor: pointer;
}

.btn--block, .empty-status {
  width: 100%;
  border: 1px dashed var(--light-blue);
  background-color: var(--background-grey);
  padding: 7px 16px;
  margin: 8px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--light-blue);
  text-align: center;
}

.btn--block:hover, button.empty-status:hover {
  background-color: var(--background-blue);
}

.empty-status {
  height: 80px;
  padding: 32px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  margin: 4px 8px;
  border-radius: 3px;
  position: relative;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn i {
  margin: -2px 8px -2px 0;
  padding-top: 2px;
  float: left;
}

button:focus {
  outline: none;
}

/* tooltips */

.tooltip {
  visibility: hidden;
  font-size: 12px;
  background-color: var(--black);
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  z-index: 3;
  margin-bottom: 4px;
}

.btn:hover .tooltip, .btn-icon-group button {
  visibility: visible;
}

/* button group */

.btn--group {
  margin: 8px;
  height: 32px;
}

.btn--group_btn {
  display: block;
  background-color: white;
  cursor: pointer;
  float: left;
}

.btn--group_btn:first-child {
  border-radius: 3px 0 0 3px;
}

.btn--group_btn:last-child {
  border-radius: 0 3px 3px 0;
}

.btn--group .btn--group_btn:not(:last-child), .btn--group-blue .btn--group_btn:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn--group:after {
  content: "";
  clear: both;
  display: table;
}

/* button size */

.btn--lg, .btn--group_btn {
  font-size: 14px;
  line-height: 16px;
  padding: 7px 24px;
}

.btn--lg--icon {
  font-size: 16px;
  height: 32px;
  width: 32px;
  padding: 7px;
}

.btn--sm {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 16px;
}

.btn--sm--icon {
  height: 24px;
  width: 24px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 6px 6px 6px;
}

/* button color */

.btn--primary, .btn--group_btn {
  border: 1px solid var(--primary-border);
  color: var(--primary-border);
}

.btn--primary:hover, .btn--group_btn:hover, .btn--group_btn.btn--group_btn--active {
  background-color: var(--primary-border);
  color: white;
}

.btn--info {
  border: 1px solid var(--sap-blue);
  color: var(--sap-blue);
}

.btn--info:hover, .btn--info.btn--group_btn--active {
  background-color: var(--sap-blue);
  color: white;
}

.btn--warning {
  border: 1px solid var(--dark-orange);
  background-color: var(--primary-orange);
  color: white;
}

.btn--warning:hover {
  background-color: var(--dark-orange);
}

.btn--danger {
  border: 1px solid #D0021B;
  background-color: #FD3D54;
  color: white;
}

.btn--danger:hover {
  background-color: #D0021B;
}

.btn--activate {
  border: 1px solid var(--primary-blue);
  background-color: var(--sap-blue);
  color: white;
}

.btn--activate:hover {
  background-color: var(--primary-blue);
}

/* plain icon color */

.btn--plain {
  border: none;
  color: var(--primary-grey);
  background-color: inherit;
  margin: 4px;
}

.btn--plain:hover {
  background-color: var(--primary-grey);
  color: white;
}

#back-to-top {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid var(--primary-blue);
  border-radius: 25px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  position: fixed;
  bottom: 0px;
  right: 40px;
  z-index: 3;
  margin-bottom: 40px;
  i {
    font-size: 21px;
    line-height: 20px;
  }
}

#back-to-top:hover {
  background-color: var(--primary-blue);
  transition: all 0.1s ease-in-out;
  color: white;
}

.btn:disabled, .btn:hover:disabled {
  border: solid 1px var(--light-grey);
  background-color: white;
  color: var(--light-grey);
  cursor: not-allowed;
}

/* Toggle Switch */

.switch--lg {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

.switch--sm {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch--lg input[type=checkbox], .switch--sm input[type=checkbox] {
  display:none;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-blue);
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 12px;
}

.switch--sm .switch_slider {
  font-size: 10px;
}

.switch_slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}

.switch--sm .switch_slider::before {
  height: 22px;
  width: 22px;
}

input[type=checkbox]:checked + .switch_slider {
  background-color: var(--light-blue);
}

input[type=checkbox]:focus + .switch_slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch--lg input[type=checkbox]:checked + .switch_slider::before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(32px);
}

.switch--sm input[type=checkbox]:checked + .switch_slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(24px);
}

.switch_slider:after {
  content:'OFF';
  color: var(--light-blue);
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  right: -6px;
}

.switch--sm .switch_slider:after {
  font-size: 10px;
  right: -6px;
}

input[type=checkbox]:checked + .switch_slider:after {
  content:'ON';
  color: white;
  left: 27px;
}

.switch--sm input[type=checkbox]:checked + .switch_slider:after {
  left:21px;
}

/* checkbox */

.checkbox, .radio {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  margin: 4px 12px 4px 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input[type=checkbox], .radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox_checkmark, .radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: solid 1px var(--primary-border);
  border-radius: 2px;
  background-color: white;
}

.checkbox:hover input[type=checkbox] ~ .checkbox_checkmark, .radio:hover input[type=radio] ~ .radio_checkmark {
  background-color: var(--light-grey);
}

.checkbox input[type=checkbox]:checked ~ .checkbox_checkmark {
  background-color: var(--sap-blue);
  border: 0;
}

.checkbox_checkmark:after, .radio_checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input[type=checkbox]:checked ~ .checkbox_checkmark:after {
  display: block;
}

.checkbox_checkmark:after {
  left: 4px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* radio */

.radio_checkmark {
  border-radius: 50%;
}

.radio input[type=radio]:checked ~ .radio_checkmark {
  background-color: white;
}

.radio input[type=radio]:checked ~ .radio_checkmark:after {
  display: block;
}

.radio_checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--sap-blue);
}

/* toggle hide and show */

.toggle_show-more, .toggle_show-less {
  height: 32px;
  width: 100%;
  display: block;
  background-color: var(--background-grey);
  border: 0;
  cursor: pointer;
  padding: 0 16px;
}

.toggle-separator {
  display: block;
  line-height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--light-blue);
}

.toggle_show_text {
  background: var(--background-grey);
  color: var(--light-blue);
  font-size: 14px;
  padding: 0 16px;
  text-transform: capitalize;
  font-weight: 600;
  pointer-events: none;
}

.toggle_show-more .toggle_show_text::before {
  content: "show more";
}

.toggle_show-less .toggle_show_text::before {
  content: "show less";
}

.block-button:hover, .toggle_show-more:hover, .toggle_show-less:hover,
.toggle_show-more:hover .toggle_show_text, .toggle_show-less:hover .toggle_show_text {
  background-color: #f3f3f3;
}
