/* laoder */

.loader_container {
	width: 100%;
	text-align: center;
}

.loader {
	font-size: 24px;
	color: var(--light-grey);
	padding-top: 2px;
	display: inline-block;
	animation: spin 1.8s linear infinite;
}

/* pagination */

.pagination {
	border: solid 1px var(--primary-border);
	background-color: white;
	border-radius: 4px;
	float: left;
}

.pagination_item {
	cursor: pointer;
	float: left;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 16px;
	transition: background-color .3s;
}

.pagination_item--active {
	background-color: var(--primary-border);
	color: white;
}

.pagination_item:hover {
	background-color: var(--light-grey);
}
