/* select */

select {
  height: 32px;
  border: solid 1px var(--primary-border);
  background: white;
}

/* text input */

input[type=button] {
  cursor: pointer;
}

input[type=text] {
  cursor: text;
}

form {
  position: relative;
}

.form-group--inline {
  display: flex;
}

.form-group--inline label {
  padding-top: 8px;
  text-align: right;
}
.form-group_item--right{
  margin-left: auto;
}
.form-group_item--left{
  margin-right: auto;
}

.form--plain-text {
  min-height: 32px;
  padding: 8px 0;
  font-size: 12px;
  text-align: left;
}

.input--text, select, input[type=button] {
  width: 100%;
  min-height: 32px;
  padding: 8px 32px 8px 8px;
  font-size: 12px;
  text-align: left;
  border: solid 1px var(--light-grey);
  background: white;
}

input[type=text]:hover, select:hover, input[type=button]:hover {
  border: solid 1px var(--light-blue);
}

input[type=text]:focus, select:focus, input[type=button]:focus {
  outline: none;
  box-shadow: none;
}

.input--text:focus, select:focus, .dropdown_btn:focus {
  outline: none;
  border-color: var(--light-blue);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

.dropdown_btn {
  margin: 0;
}

input[type=button]:disabled, input[type=text]:disabled, select:disabled {
  background: var(--main-bg-color);
  cursor: not-allowed;
}

input[type=text]:read-only, input:read-only:hover {
  background: none;
  border: none;
  padding-left: 0;
}

.form--plain-text {
  min-height: 32px;
  padding: 8px 0;
  text-align: left;
  cursor: text;
}

.input--text--error {
  border: solid 1px var(--primary-orange);
}

.input--text--error_label {
  color: var(--primary-orange);
}

.message--error {
  padding: 8px 16px;
  border-color: soid 1px var(--primary-orange);
  color: var(--primary-orange);
  background-color: #FFEDE8;
  transition: opacity 0.6s;
  margin: 8px 0;
}

.message--prompt {
  padding: 8px 0;
  color: var(--primary-border);
}

/* Dropdown */

.dropdown_list, .combobox_dropdown_list {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% - 1px);
  background-color: white;
  min-width: 240px;
  max-height: 240px;
  overflow: auto;
  border: 1px solid var(--light-blue);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  margin-top: 0px;
  list-style: none;
  padding: 4px;
  overflow: scroll;
  z-index: 3;
}

.dropdown_list--right {
  left: auto;
}

.dropdown_list--left {
  left: 0;
}

.dropdown_list_item {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.dropdown_list_item:hover {
  background-color: var(--background-blue);
}

/* combo box */

.combobox {
  width: 100%;
  position: relative;
}

.combobox_dropdown_btn {
  padding: 4px 32px 4px 4px;
  position: relative;
  border: 1px solid var(--primary-border);
  background-color: white;
  display: block;
  min-height: 32px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-bg-color);
}

.combobox_dropdown_btn:hover {
  background-color: var(--button-grey);
  border: 1px solid var(--light-blue);
}

.combobox-active {
  border: 1px solid var(--light-blue) !important;
  background-color: var(--button-grey);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.combobox_dropdown_btn_hint {
  margin: 0;
}

/* Dropdown Arrows */

.dropdown_btn ~ .icon-slim-arrow-down, .combobox_dropdown_btn .icon-slim-arrow-down,
.input--text ~ .icon-slim-arrow-down, .combobox .icon-slim-arrow-down {
  color: var(--primary-blue);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  height: 32px;
  width: 32px;
  padding: 9px;
  pointer-events: none;
}
