/* labels */

.label--status--dot {
	font-size: 12px;
	display: inline-block;
	position: relative;
	margin: 4px;
}

.label--status--dot:hover .tooltip {
	visibility: visible;
}

.label--status--dot--alert {
	color: #FF334C;
}

.label--status--dot--deactivated {
	color: var(--primary-border);
}

.label--status--dot--success {
	color: var(--status-complete);
}

.label--status--dot--warning {
	color: #FF9800;
}

.label--status {
	border-radius: 2px;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	padding: 0px 8px;
	margin: 4px;
	display: inline-block;
	border: 1px solid;
	text-transform: capitalize;
}

.label--status--complete {
	border-color: var(--status-complete);
	color: var(--status-complete);
	background-color: #DEF6F5;
}

.label--status--failed, .label--status--error-msg {
	border-color: var(--primary-orange);
	color: var(--primary-orange);
	background-color: #FFEDE8;
}

.label--status--error-msg {
	cursor: pointer;
}

.label--status--error-msg:hover {
	color: white;
	background: var(--primary-orange);
}

.label--status--error-msg i {
	padding-right: 6px;
}

.label--status--deactivated {
	border-color: var(--light-grey);
	color: var(--light-grey);
	background-color: white;
}

/* facet labels */

.label--selected {
	font-size: 12px;
	line-height: 21px;
	cursor: pointer;
	display: inline-block;
	border: solid 1px var(--primary-border);
	border-radius: 2px;
	background-color: white;
	margin: 4px;
	padding: 0px 8px;
}

.label--selected.label--selected--context {
	background-color: var(--background-grey);
}

.label--selected .icon-decline {
	margin-left: 8px;
	height: 21px;
	color: var(--primary-border);
}

.label--selected:hover {
  background-color: var(--background-blue);
  border-color: var(--light-blue);
}

.label--selected:hover .icon-decline {
  color: var(--black);
}

.label--selected .icon-decline {
  margin-left: 8px;
  color: var(--primary-border);
}

.label--checkbox {
  display: inline-block;
  border: 1px solid var(--primary-border);
  border-radius: 2px;
  background-color: var(--background-grey);
  font-size: 12px;
  margin: 4px;
}

.label--checkbox .checkbox {
  margin: 4px;
}
