.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal_content, .modal_content--error {
  background-color: white;
  margin: auto;
  border: 1px solid var(--primary-border);
  width: 80%;
  position: relative;
  top: 30%;
}

.modal_content--error {
  color: var(--primary-orange);
}

.modal_close {
  color: var(--primary-border);
  float: right;
  font-size: 28px;
}

.modal_close:hover,
.modal_close:focus {
  color: var(--primary-blue);
  text-decoration: none;
  cursor: pointer;
}

.modal_header {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding: 16px 24px;
  background-color: var(--background-grey);
}

.modal_body {
  padding: 16px 24px;
}

.modal_footer {
  padding: 8px;
  float: left;
  width: 100%;
  background-color: white;
  background-color: var(--background-grey);
}

/* Toast */

.toast {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(31, 54, 73, 0.9);
  border: 1px solid var(--primary-blue);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 12px 24px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

/* Alert */

.alert {
  padding: 26px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-bottom: solid 1px;
  min-height: 72px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.alert--danger {
  background-color: var(--primary-orange);
}

.alert--info {
  border-color: var(--sap-blue);
  color: var(--sap-blue);
  background-color: var(--background-blue);
}

.alert--success {
  border-color: var(--status-complete);
  color: var(--status-complete);
  background-color: #DEF6F5;
}

.alert--warning {
  border-color: var(--primary-orange);
  color: var(--primary-orange);
  background-color: #FFEDE8;
}

.alert .icon-decline {
  margin-left: 15px;
  float: right;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert .icon-decline:hover {
  color: black;
}
