.page-header {
	height: 72px;
	background-color: var(--primary-blue);
	padding: 25px;
}

.page-header_title {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: white;
}

.page-header_subtitle {
	color: var(--primary-orange);
	line-height: 20px;
	font-size: 14px;
	margin-left: 8px;
	font-weight: 600;
}

.page-header_icon {
	font-size: 20px;
	margin-right: 8px;
	color: white;
}

.page-header_btn {
	color: white;
}

.page_layout {
	display: none;
	width: 100%;
	height: calc(100% - 72px);
	padding: 0 0 0 88px;
	background-color: var(--main-bg-color);
}

.page_layout--active {
	display: block;
}

.page_content {
	padding: 8px 32px 0px 24px;
}

.page-header_menu {
  display: none;
  cursor: pointer;
}

.sidenav {
  width: 88px;
  height: calc(100% - 72px);
  background-color: #333;
  color: white;
  position: absolute;
  display: inline-block;
}

.sidenav_item {
  width: 100%;
  height: 88px;
  text-align: center;
  display: table;
  cursor: pointer;
	transition: all 0.4s linear;
}

.sidenav_item:hover, .sidenav_item--active {
  background-color: #000;
}

.sidenav_item_content {
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}

.sidenav_item_icon {
  display: block;
  font-size: 20px;
  line-height: 24px;
}

.sidenav_item_title {
  display: block;
  font-size: 10px;
}

@media only screen and (max-width: 768px) {

  .page-header_menu {
    display: inline-block;
  }

	.sidenav {
		display: none;
	}

  .page_layout {
    padding: 0;
  }

  .page_layout--tablet {
    padding-left: 88px;
  }
}

@media (min-width: 1440px) {

 .sidenav {
   width: 256px;
   text-align: left;
 }

 .sidenav_item {
   height: auto;
   display: block;
 }

 .sidenav_item_content {
   padding: 16px 24px;
 }

 .sidenav_item_icon {
   font-size: 16px;
   display: inline-block;
   margin-right: 8px;
 }

 .sidenav_item_title {
   display: inline-block;
   font-size: 12px;
 }

 .page_layout {
   padding-left: 256px;
 }

}

.topnav {
    width: 100%;
    min-height: 72px;
    overflow: hidden;
    padding: 16px 32px 0px 24px;
    background-color: white;
    border-bottom: 1px solid var(--primary-orange);
    display: table;
}

.topnav .search {
  margin: 8px;
  display: inline-block;
  max-width: 256px;
}

.topnav--vertical-align {
  display: table-cell;
  vertical-align: middle;
}

.topnav .icon-arrow-left {
  display: inline-block;
  font-size: 16px;
  padding-right: 8px;
  cursor: pointer;
  color: var(--primary-blue);
}

.topnav h1 {
  display: inline-block;
  margin: 0;
}

.topnav_tab {
  float: left;
}

.topnav_tab_item {
    float: left;
    padding: 11px 16px 0 16px;
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    color: var(--primary-orange);
    text-align: center;
    text-transform: capitalize;
}

.topnav_tab_item:after {
  content: '';
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.topnav_tab_item:hover:after {
  width: 100%;
  background: var(--light-grey);
}

.topnav_tab_item--active:after {
  width: 100%;
  background: var(--primary-orange);
}

/* progress bar */

.progress_bar_container {
  width: 100%;
}

.progress_bar {
  width: 0;
  height: 4px;
  background-color: var(--primary-orange);
}
