.accordion_header {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 12px;
	transition: 0.4s;
	background-color: white;
	[class*="col-"] {
		 margin: initial;
	}
}

.accordion_header h1 {
	margin: 0;
	display: inline-block;
}

.accordion_header:hover {
	background-color: var(--background-blue);
}

.accordion_header:before {
	font-family: 'SAP-icons';
	content: "\e200";
	font-size: 14px;
	line-height: 24px;
	color: var(--primary-blue);
	font-weight: bold;
	float: right;
  right: 20px;
  position: absolute;
}

.accordion_header--collapsed:before {
	font-family: 'SAP-icons';
	content: "\e1f9";
}

.accordion_panel {
	padding: 0;
	display: block;
	overflow: visible;
	transition: fadeEffect 0.3s ease-in;
	padding: 16px;
	background-color: white;
}

.accordion_panel::after {
	content: "";
	clear: both;
	display: table;
}

.accordion_panel--collapsed {
  display: none;
}
.card {
	border: none;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
	background-color: #fff;
	width: 100%;
	margin-bottom: 24px;
}

.card_content_body {
	background-color: #F8F8F8;
	padding: 12px;
	margin: 4px 0;
	float: left;
	width: 100%;
}
