.search {
  position: relative;
  margin: 0px;
  width: 100%;
  min-height: 32px;
}

.search_box {
  width: 100%;
  height: 32px;
  padding: 8px;
  background: #f1f1f1;
  border: solid 1px #f1f1f1;
  outline: 0;
  font-size: 12px;
  text-align: left;
}

.search_box:focus {
  outline: none;
  border-color: var(--light-blue);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.search--run-time {
  height: 40px;
}

.search--run-time .search_box {
  height: 40px;
  border-radius: 4px;
  boarder: solid 1px white;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

.search--run-time .search_box:focus {
  boarder: solid 1px var(--light-blue);
}

.search--animated .search_box {
  border-radius: 16px;
  width: 32px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search_box ~ .search_btn {
  display: inline-block;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  color: var(--primary-blue);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.search--run-time ~ .search_btn {
  right: 8px;
  pointer-events: none;
}

.search:after {
  content: "";
  clear: both;
  display: table;
}

.search--animated {
  float: right;
}

.search--animated .search_box:focus {
  width: 100%;
  cursor: text;
}

.search--animated .search_btn {
  pointer-events: none;
}

/* autocomplete */

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.autocomplete_list {
  position: absolute;
  border: solid 1px var(--light-blue);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 8px;
  margin-top: -1px;
  z-index: 2;
}

.autocomplete_list_item {
  padding: 10px;
  cursor: pointer;
  border-radius: 0px;
}

.autocomplete_list_item:hover {
  background-color: var(--background-blue);
}
