*, *:after, *:before {
	box-sizing: border-box;
}

::-moz-selection { /* Firefox */
    color: var(--black);
    background: var(--light-blue);
}

::selection {
	color: var(--black);
	background: var(--background-blue);
}

.site-color_palette {
	height: 3.125rem;
	box-shadow: #dddbda 0 0 0 1px inset;
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
	font-family: 'Open Sans', sans-serif;
	color: var(--primary-grey);
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	position: relative;
}

.pull-right {
	float: right;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.active, .show {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

/* text */

p, h1, h2, h3, h4, h5, ul {
	display: block;
	-webkit-margin-before: 4px;
	-webkit-margin-after: 4px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	vertical-align: baseline;
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.fade {
	animation: fadeEffect 0.3s;
}

.spin {
	display: inline-block;
	animation: spin 1.8s linear infinite;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

h1 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: var(--primary-blue);
	margin: 16px 0px;
}

h2 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	margin: 8px 0;
}

h3, label {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
}

h4 {
	color: var(--primary-border);
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
}

h5 {
	color: var(--primary-border);
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary-border);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--primary-border);
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--primary-border);
}

label {
	text-transform: capitalize;
	margin: 4px 0;
	display: block;
}

input {
  font-size: 12px;
}

.text-right {
	text-align: right;
}

header {
	background-color: var(--primary-blue);
	height: 72px;
	padding: 8px 40px;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
}

header h1 {
	color: white;
	display: inline-block;
}

header .icon-menu {
	display: none;
	width: 40px;
	height: 40px;
	color: white;
	cursor: pointer;
	margin-right: 8px;
}

.anchor {
	display: block;
	position: relative;
	top: -88px;
	visibility: hidden;
}

.cl-page_layout {
	display: block;
	position: absolute;
	top: 72px;
	width: 100%;
	padding-left: 256px;
}

.cl-sidenav {
	background-color: white;
	border-right: solid 1px var(--primary-orange);
	margin: 0;
	padding: 0 0 120px 0px;
	width: 256px;
	height: 100%;
	position: fixed;
	overflow: scroll;
	z-index: 6;
}

.cl-sidenav_search_wrapper {
	top: 72px;
	background-color: white;
	padding: 16px;
	width: 255px;
	display: table;
}

.cl-sidenav_search {
	position: relative;
}

.cl-sidenav_item, .cl-sidenav_dropdown_btn {
	color: var(--black);
	display: block;
	font-size: 12px;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin: 0;
	text-transform: capitalize;
	border: none;
	text-align: left;
	cursor: pointer;
}

.cl-sidenav_dropdown_btn {
	font-weight: 700;
	padding-left: 24px;
}

.cl-sidenav_item {
	padding-left: 48px;
}

.cl-sidenav_dropdown_btn:focus {
	outline: none;
}

.cl-sidenav_item:hover, .cl-sidenav_dropdown_btn:hover, .cl-sidenav_item:active, .cl-sidenav_dropdown_btn:active {
	background-color: var(--background-blue);
}

.cl-page_content {
	padding: 16px 24px 40px 24px;
}

.cl-page_overlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
}

/* side nav on tablet */

@media only screen and (max-width: 768px) {

	header .icon-menu {
		display: inline-block;
	}

	.cl-sidenav {
		width: 0px;
		border-right: none;
	}

	.cl-page_layout {
		padding-left: 0;
	}
}

#componentBasicGrid ~ .accordion_panel [class*='col-'], #componentNestedGrid ~ .accordion_panel [class*='col-'] {
	border: 1px dashed var(--sap-blue);
	background-color: rgba(170, 203, 233, 0.2);
}

.page-mockup {
	height: 600px;
	border: dashed 1px var(--light-grey);
	position: relative;
}

.code_container_template {
	display: none;
}

.code_container {
	display: none;
	float: left;
	width: 100%;
	padding: 0px 12px;
}

.code_container textarea {
	width: 100%;
	background-color: var(--background-grey);
	color: var(--primary-grey);
	font-family: monospace;
	border: none;
	max-height: 320px;
	font-size: 14px;
	tab-size: 2;
	padding: 8px 16px;
	white-space: nowrap;
}

textarea:focus {
	outline: none;
}

code {
	background-color: var(--background-blue);
	color: black;
	margin: 4px 0;
	display: inline-block;
	padding: 0 4px;
}
