table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

thead th {
  font-weight: 700;
  background-color: var(--background-blue);
}

tbody th {
  color: var(--sap-blue);
}

table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}

.table--striped tr:nth-child(even) {
  background-color: var(--background-grey);
}

.table_container {
  overflow-x:auto;
}

tbody tr:hover, .table--striped tbody tr:nth-child(even):hover {
  background-color: var(--background-blue);
  border-left: solid 3px var(--sap-blue);
}

.table_container--list tbody tr:hover, .table_container--list tbody tr:nth-child(even):hover {
  border-left: none;
}

.table_container--list table td:last-child {
  border-bottom: 0;
}

@media only screen and (max-width: 768px) {

  .table_container--list tbody th {
    display: block;
    text-align: right;
  }

  .table_container--list table thead {
    display: none;
  }

  .table_container--list table tr {
    display: block;
    width: 100%;
    float: left;
  }

  .table_container--list table td {
    width: 100%;
    float: right;
    text-align: right;
  }

  .table_container--list table td::before, .table_container--list table th::before {
    content: attr(data-label);
    font-weight: 700;
    font-size: 10px;
    float: left;
    text-align: left;
    width: 50%;
    color: var(--primary-grey);
  }

}

/* @media only screen and (max-width: 1439px) { */
  @media (min-width: 769px) and (max-width: 1439px) {

  .table_container--list table thead {
    display: none;
  }

  .table_container--list table tr {
    display: block;
    width: 100%;
  }

  .table_container--list table td {
    display: inline-block;
    width: 24%;
  }

  .table_container--list table td::before, .table_container--list table th::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    font-size: 10px;
    display: block;
    width: 100%;
    color: var(--primary-grey);
  }

}
