/* tabs */

.tab_container {
  float: left;
  width: 100%;
  border: 1px solid var(--light-grey);
  background-color: white;
  margin: 4px 0;
}

.tab {
  display: block;
  float: left;
  width: 100%;
}

.tab_bar_btn {
  display: inline-block;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 8px 24px;
}

.tab_bar_btn:hover {
  cursor: pointer;
  transition: none;
}

.tab_bar_btn:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.tab_bar_btn:hover:after {
  width: 100%;
  background: var(--light-grey);
}

.tab_bar_btn--active:after {
  width: 100%;
  background: var(--primary-orange);
}

.tab_content_container {
  padding: 6px 24px;
  float: left;
  width: 100%;
}

.tab_content {
  display: none;
  animation: fadeEffect 1s;
}

.tab_content--active {
  display: block;
}

/* run-time tabs */

.tab--run-time_wrapper {
  height: 80px;
  overflow: hidden;
}

.tab--run-time {
    background-color: var(--primary-blue);
    overflow: auto;
    white-space: nowrap;
    height: 97px;
    padding: 8px;
}

.tab--run-time_item {
    display: inline-block;
    color: white;
    background-color: #415A70;
    height: 64px;
    width: 128px;
    border-radius: 4px;
    text-align: left;
    padding: 8px;
    margin: 0px 4px;
    position: relative;
}

.tab--run-time_item--active, .tab--run-time_item:hover {
    background-color: var(--black);
}

.tab--run-time_title {
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab--run-time_figure {
  color: #F5A623;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 8px;
}

.tab--run-time_text {
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
