// colors
:root {
	--main-bg-color: #EFEFF4;
	--primary-blue: #1F3649;
	--sap-blue: #008FD3;
	--light-blue: #AACBE9;
	--background-blue: #E4ECF1;
	--primary-border: #AAA;
	--primary-orange: #FF8A65;
	--dark-orange: #FD3D54;
	--primary-grey: #62717A;
	--light-grey: #DCDCDC;
	--button-grey: #F3F3F3;
	--background-grey: #F8F8F8;
	--status-complete: #00C5BC;
	--black: rgba(50,50,50,0.85);
}
