<div class="col-12">
  <p>Resize the browser window width to <code> <768px </code> and <code> >1440px </code>to check the expected behavior.</p>
  <div class="page-mockup">
    <div class="page-header">
      <i class="page-header_icon page-header_menu icon-menu"></i>
      <span class="page-header_title">IoT Discovery</span>
      <span class="page-header_subtitle">Administrator</span>
      <div class="pull-right">
        <form class="dropdown" action="" method="post">
          <button type="button" name="button" title="settings" class="dropdown_btn btn btn--lg--icon btn--plain icon-settings page-header_btn"><span class="tooltip">settings</span><span class="tooltip">settings</span><span class="tooltip">settings</span></button>
          <ul class="dropdown_list dropdown_list--right" style="display: none;">
            <li class="dropdown_list_item">Profile</li>
            <li class="dropdown_list_item">Custom</li>
            <li class="dropdown_list_item">Support</li>
            <li class="dropdown_list_item">Tools</li>
            <li class="dropdown_list_item">Sign Out</li>
          </ul>
        </form>
      </div>
    </div>
    <div class="sidenav">
      <div class="sidenav_item sidenav_item--active" id="indexConfiguration">
        <div class="sidenav_item_content">
          <i class="icon-database sidenav_item_icon"></i>
          <div class="sidenav_item_title">Index Configuration</div>
        </div>
      </div>
      <div class="sidenav_item" id="SearchConfiguration">
        <div class="sidenav_item_content">
          <i class="icon-wrench sidenav_item_icon"></i>
          <div class="sidenav_item_title">Search Configuration</div>
        </div>
      </div>
      <div class="sidenav_item" id="GlobalConfiguration">
        <div class="sidenav_item_content">
          <i class="icon-settings sidenav_item_icon"></i>
          <div class="sidenav_item_title">Global Configuration</div>
        </div>
      </div>
      <div class="sidenav_item" id="GraphWorkplace">
        <div class="sidenav_item_content">
          <i class="icon-overview-chart sidenav_item_icon"></i>
          <div class="sidenav_item_title">Graph Workplace</div>
        </div>
      </div>
      <div class="sidenav_item" id="Schedule">
        <div class="sidenav_item_content">
          <i class="icon-date-time sidenav_item_icon"></i>
          <div class="sidenav_item_title">Schedule</div>
        </div>
      </div>
      <div class="sidenav_item" id="Language">
        <div class="sidenav_item_content">
          <i class="icon-world sidenav_item_icon"></i>
          <div class="sidenav_item_title">Language</div>
        </div>
      </div>
      <div class="sidenav_item" id="Preload">
        <div class="sidenav_item_content">
          <i class="icon-download-from-cloud sidenav_item_icon"></i>
          <div class="sidenav_item_title">Preload</div>
        </div>
      </div>
    </div>

    <div id="indexConfigurationPage" class="page_layout page_layout--active">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Index Configuration</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Index Configuration page content.</h2>
      </div>
    </div>

    <div id="SearchConfigurationPage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Search Configuration</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Search Configuration page content.</h2>
      </div>
    </div>

    <div id="GlobalConfigurationPage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Global Configuration</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Global Configuration page content.</h2>
      </div>
    </div>

    <div id="GraphWorkplacePage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Graph Workplace</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Graph Workplace page content.</h2>
      </div>
    </div>

    <div id="SchedulePage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Schedule</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Schedule page content.</h2>
      </div>
    </div>

    <div id="LanguagePage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Language</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Language page content.</h2>
      </div>
    </div>

    <div id="PreloadPage" class="page_layout">
      <div class="topnav">
        <div class="topnav--vertical-align">
          <h1>Preload</h1>
        </div>
      </div>
      <div class="page_content">
        <h2>Preload page content.</h2>
      </div>
    </div>


  </div>
</div>
