<div class="component_container">
  <div class="page-header">
    <i class="page-header_icon icon-search"></i>
    <span class="page-header_title">IoT Discovery</span>
    <span class="page-header_subtitle">Administrator</span>
    <div class="pull-right">
      <form class="dropdown" action="" method="post">
        <button type="button" name="button" title="settings" class="dropdown_btn btn btn--lg--icon btn--plain icon-settings page-header_btn"><span class="tooltip">settings</span><span class="tooltip">settings</span><span class="tooltip">settings</span></button>
        <ul class="dropdown_list dropdown_list--right" style="display: none;">
          <li class="dropdown_list_item">Profile</li>
          <li class="dropdown_list_item">Custom</li>
          <li class="dropdown_list_item">Support</li>
          <li class="dropdown_list_item">Tools</li>
          <li class="dropdown_list_item">Sign Out</li>
        </ul>
      </form>
    </div>
  </div>
</div>
