<div class="col-12">
  <h3>Horizontal Button Groups</h3>
  <div class="card_content_body">
    <div class="btn--group">
      <button class="btn--group_btn btn--group_btn--active">Button 1</button>
      <button class="btn--group_btn">Button 2</button>
      <button class="btn--group_btn">Button 3</button>
    </div>
    <div class="btn--group">
      <button class="btn--group_btn btn--info btn--group_btn--active">Button 1</button>
      <button class="btn--group_btn btn--info">Button 2</button>
      <button class="btn--group_btn btn--info">Button 3</button>
    </div>
    <div class="btn--group">
      <button class="btn--group_btn btn--info btn--group_btn--active"><i class="icon-list"></i></button>
      <button class="btn--group_btn btn--info"><i class="icon-map"></i></button>
      <button class="btn--group_btn btn--info"><i class="icon-overview-chart"></i></button>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Full-width Button Group (Primary)</h3>
  <div class="card_content_body">
    <div class="btn--group">
      <button class="btn--group_btn btn--group_btn--active" style="width:33.3%">Button 1</button>
      <button class="btn--group_btn" style="width:33.3%">Button 2</button>
      <button class="btn--group_btn" style="width:33.3%">Button 3</button>
    </div>
    <div class="btn--group">
      <button class="btn--group_btn btn--group_btn--active" style="width:25%">Button 1</button>
      <button class="btn--group_btn" style="width:25%">Button 2</button>
      <button class="btn--group_btn" style="width:25%">Button 3</button>
      <button class="btn--group_btn" style="width:25%">Button 4</button>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Full-width Button Group (Info)</h3>
  <div class="card_content_body">
    <div class="btn--group">
      <button class="btn--group_btn btn--info btn--group_btn--active" style="width:33.3%">Button 1</button>
      <button class="btn--group_btn btn--info" style="width:33.3%">Button 2</button>
      <button class="btn--group_btn btn--info" style="width:33.3%">Button 3</button>
    </div>
    <div class="btn--group">
      <button class="btn--group_btn btn--info btn--group_btn--active" style="width:25%">Button 1</button>
      <button class="btn--group_btn btn--info" style="width:25%">Button 2</button>
      <button class="btn--group_btn btn--info" style="width:25%">Button 3</button>
      <button class="btn--group_btn btn--info" style="width:25%">Button 4</button>
    </div>
  </div>
</div>
