<div class="col-12 ">
  <h3>This is a basic input form.</h3>
  <div class="card_content_body">
    <form class="form" action="/action_page.php" method="post">
      <div class="col-12 row">
        <div class="form-group col-4">
          <label for="TextInput">text input</label>
          <input class="input--text" type="text" name="TextInput" value="" placeholder="My Index">
        </div>
        <div class="form-group col-4">
          <label for="DisabledTextInput">disabled text input</label>
          <input class="input--text" type="text" name="DisabledTextInput" value="" placeholder="My Value" id="value" disabled>
        </div>
        <div class="form-group col-4">
          <label for="ReadyOnlyTextInput">read-only text input</label>
          <input class="input--text" type="text" name="ReadyOnlyTextInput" value="" placeholder="My Value" id="value" readonly>
        </div>
        <div class="form-group col-4">
          <label class="input--text--error_label" for="index">Text input with error</label>
          <input class="input--text input--text--error" type="text" name="Index" value="" placeholder="My Index">
        </div>
        <div class="form-group col-4">
          <label class="input--text--error_label" for="index">Text input with error message</label>
          <input class="input--text input--text--error" type="text" name="Index" value="" placeholder="My Index">
          <div class="message--error">
            Please match the requested format.
          </div>
        </div>
        <div class="form-group col-4">
          <label for="index">Text input with prompt</label>
          <input class="input--text" type="text" name="Index" value="" placeholder="My Index">
          <div class="message--prompt">
            Please match the requested format [mm/dd/yy].
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
