<div class="col-12">
  <h3>Checkbox</h3>
  <div class="card_content_body">
    <label class="checkbox">One
      <input type="checkbox" checked="checked">
      <span class="checkbox_checkmark"></span>
    </label>
    <label class="checkbox">Two
      <input type="checkbox">
      <span class="checkbox_checkmark"></span>
    </label>
    <label class="checkbox">Three
      <input type="checkbox">
      <span class="checkbox_checkmark"></span>
    </label>
    <label class="checkbox">Four
      <input type="checkbox">
      <span class="checkbox_checkmark"></span>
    </label>
  </div>
  <h3>Radio</h3>
  <div class="card_content_body">
    <label class="radio">One
      <input type="radio" checked="checked" name="radio">
      <span class="radio_checkmark"></span>
    </label>
    <label class="radio">Two
      <input type="radio" name="radio">
      <span class="radio_checkmark"></span>
    </label>
    <label class="radio">Three
      <input type="radio" name="radio">
      <span class="radio_checkmark"></span>
    </label>
    <label class="radio">Four
      <input type="radio" name="radio">
      <span class="radio_checkmark"></span>
    </label>
  </div>
</div>
