<div class="col-12">
  <div class="card_content_body">
    <div class="tab_container">
      <div class="tab">
        <button class="tab_bar_btn tab_bar_btn--active">Header</button>
        <button class="tab_bar_btn">Body</button>
        <button class="tab_bar_btn">Other</button>
      </div>
      <div class="tab_content_container">
        <div name="Header" class="tab_content tab_content--active">
          <h3>Header Title</h3>
          <p>Header configuration goes to there.</p>
        </div>
        <div name="Body" class="tab_content">
          <h3>Body Title</h3>
          <p>Body configuration goes to there.</p>
        </div>
        <div name="Other" class="tab_content">
          <h3>Other Title</h3>
          <p>Other configuration goes to there.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
