<div class="col-12">
  <p>Resize the browser window to see the effect.</p>
  <div class="tab--run-time_wrapper">
    <div class="tab--run-time">
      <a class="tab--run-time_item tab--run-time_item--active" href="#all">
        <div class="tab--run-time_title">All</div>
        <div class="tab--run-time_figure">24911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#longtitle">
        <div class="tab--run-time_title">This tab has a long name</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#tab2">
        <div class="tab--run-time_title">Tab 2</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#tab3">
        <div class="tab--run-time_title">Tab 3</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#tab4">
        <div class="tab--run-time_title">Tab 4</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#tab5">
        <div class="tab--run-time_title">Tab 5</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
      <a class="tab--run-time_item" href="#tab6">
        <div class="tab--run-time_title">Tab 6</div>
        <div class="tab--run-time_figure">24,911</div>
        <div class="tab--run-time_text">records</div>
      </a>
    </div>
  </div>
</div>
