<div class="col-12">
  <h3>Top Navigation</h3>
  <div class="card_content_body">
    <div class="topnav">
      <div class="topnav--vertical-align">
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
        <form class="search">
          <input class="search_box" type="text" placeholder="Search.." name="search">
          <button class="search_btn" type="submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Top Navigation With Tabs</h3>
  <div class="card_content_body">
    <div class="topnav">
      <div class="">
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
      </div>
      <div class="topnav_tab">
        <a class="topnav_tab_item topnav_tab_item--active" href="#Entity">Entity</a>
        <a class="topnav_tab_item" href="#Attributes">Attributes</a>
        <a class="topnav_tab_item" href="#RelationMapping">Relation mapping</a>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Top Navigation With Button</h3>
  <div class="card_content_body">
    <div class="topnav">
      <div class="">
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
        <div class="pull-right">
          <button type="button" class="btn btn--lg btn--primary" name="button">Cancel</button>
          <button type="button" class="btn btn--lg btn--info" name="button">Save</button>
        </div>
      </div>
      <div class="topnav_tab">
        <a class="topnav_tab_item topnav_tab_item--active" href="#Entity">Entity</a>
        <a class="topnav_tab_item" href="#Attributes">Attributes</a>
        <a class="topnav_tab_item" href="#RelationMapping">Relation mapping</a>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Top Navigation with More Items</h3>
  <div class="card_content_body">
    <div class="topnav">
      <div class="">
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
        <div class="pull-right">
          <button type="button" class="btn btn--sm btn--primary" name="button">Cancel</button>
          <button type="button" class="btn btn--sm btn--info" name="button">Save</button>
        </div>
      </div>
      <div class="topnav_tab">
        <a class="topnav_tab_item topnav_tab_item--active" href="#Searchable">Searchable</a>
        <a class="topnav_tab_item" href="#Facets">Facets</a>
        <a class="topnav_tab_item" href="#Highlight">Highlight</a>
        <a class="topnav_tab_item" href="#Spellcheck">Spell Check</a>
        <a class="topnav_tab_item" href="#Ranking">Ranking</a>
        <a class="topnav_tab_item" href="#FuzzySearch">Fuzzy Search</a>
        <a class="topnav_tab_item" href="#Display">Display</a>
        <a class="topnav_tab_item" href="#NavigationAndAuthorization">Navigation and Authorization</a>
      </div>
    </div>
  </div>
</div>
