<div class="col-12">
  <h3>There're two ways to achive the read-only text format in forms: using the <code>form--plain-text</code> class or <code>readonly</code> attribute in <code>input (type="text")</code> tags.</h3>
  <div class="card_content_body row">
    <div class="col-6 form-group">
      <label for="text">plain text</label>
      <div class="form--plain-text">
        Some plain text.
      </div>
    </div>
    <div class="col-6 form-group">
      <label for="ReadyOnlyTextInput">read-only text input</label>
      <input class="input--text" type="text" name="ReadyOnlyTextInput" value="" placeholder="My Value" id="value" readonly>
    </div>
  </div>
  <div class="card_content_body row">
    <div class="col-6 form-group--inline">
      <label class="col-4" for="text">plain text</label>
      <div class="col-8">
        <div class="form--plain-text">
          Some plain text.
        </div>
      </div>
    </div>
    <div class="col-6 form-group--inline">
      <label class="col-4" for="ReadyOnlyTextInput">read-only text input</label>
      <input class="col-8" class="input--text" type="text" name="ReadyOnlyTextInput" value="" placeholder="My Value" id="value" readonly>
    </div>
  </div>
</div>
