<div class="col-12">
  <h3>Status Dots</h3>
  <div class="col-12 card_content_body">
    <div class="label--status--dot label--status--dot--success col-1" title="success">
      <i class="icon-circle-task-2"></i>
    </div>
    <div class="label--status--dot label--status--dot--warning col-1" title="warning">
      <i class="icon-circle-task-2"></i>
    </div>
    <div class="label--status--dot label--status--dot--alert col-1" title="alert">
      <i class="icon-circle-task-2"></i>
    </div>
    <div class="label--status--dot label--status--dot--deactivated col-1" title="deactivated">
      <i class="icon-circle-task-2"></i>
    </div>
  </div>
</div>
<div class="col-12">
  <h3>Status Labels</h3>
  <div class="col-12 card_content_body">
    <span class="label--status label--status--complete">Complete</span>
    <span class="label--status label--status--failed">Failed</span>
    <span class="label--status label--status--error-msg"><i class="icon-message-popup"></i>Error Message</span>
    <span class="label--status label--status--deactivated">Pending...</span>
  </div>
</div>
<div class="col-12">
  <h3>Selected Labels</h3>
  <div class="card_content_body">
    <span class="label--selected label--selected--context">equipment</span>
    <span class="label--selected">Corrective Maintenance / Repair</span>
    <span class="label--selected">SAP Manufacturer</span>
    <span class="label--selected">HVAC 24ANB7-B1</span>
  </div>
</div>
