<div class="col-12">
  <h3>Combobox</h3>
  <div class="card_content_body">
    <div class="combobox-container col-6">
      <h5><b>Entity: </b>services/api/v1/equipment</h5>
      <div class="combobox">
        <div class="combobox_dropdown_btn">
          <span class="combobox_dropdown_btn_hint">Select Attributes</span>
          <i class="icon-slim-arrow-down"></i>
          <div class="combobox_selected_list"></div>
        </div>
        <ul class="combobox_dropdown_list">
          <li class="label--checkbox">
            <label class="checkbox">Apple
              <input type="checkbox" value="Apple">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
          <li class="label--checkbox">
            <label class="checkbox">Blackberry
              <input type="checkbox" value="Blackberry">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
          <li class="label--checkbox">
            <label class="checkbox">HTC
              <input type="checkbox" value="HTC">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
          <li class="label--checkbox">
            <label class="checkbox">Sony Ericson
              <input type="checkbox" value="SonyEricson" checked="checked">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
          <li class="label--checkbox">
            <label class="checkbox">Motorola
              <input type="checkbox" value="Motorola" checked="checked">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
          <li class="label--checkbox">
            <label class="checkbox">Nokia
              <input type="checkbox" value="Nokia" checked="checked">
              <span class="checkbox_checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
