<div class="col-12">
  <h3>In-page Search.</h3>
  <div class="search">
    <input class="search_box" type="text" placeholder="Search.." name="search" autocomplete="off">
    <button class="search_btn" type="submit"><i class="icon-search"></i></button>
  </div>
</div>
<div class="col-12">
  <h3>Animated Search</h3>
  <div class="search search--animated">
    <input class="search_box" type="text" name="search" autocomplete="off">
    <button class="search_btn" type="submit"><i class="icon-search"></i></button>
  </div>
</div>
<div class="col-12">
  <h3>Run-time Search Bar with Autocomplete</h3>
  <p>When using in the landing page, make sure the "autofocus" is on.</p>
  <div class="card_content_body">
    <div class="search search--run-time" action="/action_page.php">
      <div class="autocomplete">
        <input class="search_box" id="search-contries" type="text" placeholder="Search countries..." name="search" autocomplete="off">
        <button class="search_btn" type="submit" style="right: 40px;"><i class="icon-search"></i></button>
        <button class="search_btn" type="submit" style="right: 8px;"><i class="icon-microphone"></i></button>
      </div>
    </div>
  </div>
</div>
