<div class="col-12 ">
  <h3>Loader</h3>
  <div class="card_content_body">
    <div class="col-12">
      <div class="laoder_container"><i class="loader icon-action-settings"></i></div>
    </div>
  </div>
</div>
