<div class="col-12">
  <div class="card_content_body">
    <div class="accordion_header"><h1>Accordion</h1></div>
    <div class="accordion_panel">
        <div class="col-12">
          <div class="card_content_body">
            <p>This is the section body. Make sure the content, includes the section title, is wrapped in <code>class="col-12"</code> for a proper padding and responsive behavior.</p>
          </div>
        </div>
    </div>
  </div>
</div>
