<div class="col-12">
  <h3>Toggle Switch</h3>
  <div class="card_content_body">
    <div class="col-2">
      <label>Large toggle switch</label>
      <label class="switch--lg">
        <input type="checkbox" checked>
        <span class="switch_slider"></span>
      </label>
    </div>
    <div class="col-2">
      <label>Small toggle Label</label>
      <label class="switch--sm">
        <input type="checkbox" checked>
        <span class="switch_slider"></span>
      </label>
    </div>
  </div>
</div>
