<div class="col-12">
  <h3>Modal Example</h3>
  <div class="card_content_body">
    <button id="openModal" class="btn btn--lg btn--primary openModal">Open the Modal</button>
    <button id="openModalError" class="btn btn--lg btn--primary openModal">Open the Modal with Error Message</button>

    <div id="openModalPanel" class="modal">
      <div class="modal_content">
        <div class="modal_header">
          <span class="modal_close"><i class="icon-decline"></i></span>
          Modal Header
        </div>
        <div class="modal_body">
          <p>Some text in the Modal Body</p>
          <p>Some other text...</p>
        </div>
        <div class="modal_footer">
          <div class="pull-right">
            <button type="button" name="cancel" class="btn btn--lg btn--primary">Cancel</button>
            <button type="button" name="cancel" class="btn btn--lg btn--info">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="openModalErrorPanel" class="modal">
      <div class="modal_content--error">
        <div class="modal_header">
          <span class="modal_close"><i class="icon-decline"></i></span>
          Modal Header
        </div>
        <div class="modal_body">
          <div class="message--error">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
          </div>
        </div>
        <div class="modal_footer">
          <div class="pull-right">
            <button type="button" name="cancel" class="btn btn--lg btn--primary">OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
