<div class="component_container">
  <div class="col-12">
    <h3>Toasts are often used as a tooltips/popups to show a message at the bottom of the screen.</h3>
    <div class="card_content_body">
      <button type="submit" class="btn btn--lg btn--primary">Show Toast</button>
      <div class="toast">Show some message. (Saved successfully.)</div>
    </div>
  </div>
</div>
