<div class="col-12">
  <h3>Large buttons</h3>
  <div class="col-12 card_content_body">
    <button type="button" name="button" class="btn btn--lg btn--primary">Primary</button>
    <button type="button" name="button" class="btn btn--lg btn--info">Info</button>
    <button type="button" name="button" class="btn btn--lg btn--warning">Warning</button>
    <button type="button" name="button" class="btn btn--lg btn--danger">Danger</button>
    <button type="button" name="button" class="btn btn--lg btn--activate">Activate</button>
    <button type="button" name="button" class="btn btn--lg btn--activate" disabled>Disabled</button>
    <button type="button" name="button" class="btn btn--lg btn--info" disabled>
      <i class="icon-action-settings spin"></i>Pending...
    </button>
  </div>
</div>
<div class=" col-12">
  <h3>Small buttons</h3>
  <div class="card_content_body col-12">
    <button type="button" name="button" class="btn btn--sm btn--primary">Primary</button>
    <button type="button" name="button" class="btn btn--sm btn--info">Info</button>
    <button type="button" name="button" class="btn btn--sm btn--warning">Warning</button>
    <button type="button" name="button" class="btn btn--sm btn--danger">Danger</button>
    <button type="button" name="button" class="btn btn--sm btn--activate">Activate</button>
    <button type="button" name="button" class="btn btn--sm btn--activate" disabled>Disabled</button>
  </div>
</div>
<div class="col-12">
  <h3>Large icon buttons</h3>
  <p>In order to display the tooltip correctly, please make sure the "title" attribute is properly defined.</p>
  <div class="card_content_body col-12">
    <button title="edit" type="button" name="button" class="btn btn--lg--icon btn--primary icon-edit"></button>
    <button title="Info" type="button" name="button" class="btn btn--lg--icon btn--info icon-hint"></button>
    <button title="Alert" type="button" name="button" class="btn btn--lg--icon btn--warning icon-alert"></button>
    <button title="Delete" type="button" name="button" class="btn btn--lg--icon btn--danger icon-delete"></button>
    <button title="Activate" type="button" name="button" class="btn btn--lg--icon btn--activate icon-activate"></button>
    <button title="Activate" type="button" name="button" class="btn btn--lg--icon btn--activate icon-activate" disabled></button>
  </div>
</div>
<div class="col-12">
  <h3>Small icon buttons</h3>
  <p>In order to display the tooltip correctly, please make sure the "title" attribute is properly defined.</p>
  <div class="col-12 card_content_body">
    <button title="Edit" type="button" name="button" class="btn btn--sm--icon btn--primary icon-edit"></button>
    <button title="Hint" type="button" name="button" class="btn btn--sm--icon btn--info icon-hint"></button>
    <button title="Alert" type="button" name="button" class="btn btn--sm--icon btn--warning icon-alert"></button>
    <button title="Delete" type="button" name="button" class="btn btn--sm--icon btn--danger icon-delete"></button>
    <button title="Activate" type="button" name="button" class="btn btn--sm--icon btn--activate icon-activate"></button>
    <button title="Activate" type="button" name="button" class="btn btn--sm--icon btn--activate icon-activate" disabled></button>
  </div>
</div>
<div class="col-12">
  <h3>Plain button</h3>
  <p>In order to display the tooltip correctly, please make sure the "title" attribute is properly defined.</p>
  <div class="card_content_body col-12">
    <button title="Delete" type="button" name="button" class="btn btn--lg--icon btn--plain icon-delete"></button>
    <button title="Delete" type="button" name="button" class="btn btn--sm--icon btn--plain icon-delete"></button>
  </div>
</div>
