<div class="col-12 row">
  <h3>col-12</h3>
  <div class="col-4"><h3>col-4</h3></div>
  <div class="col-4"><h3>col-4</h3></div>
  <div class="col-4"><h3>col-4</h3></div>
  <div class="col-4"><h3>col-4</h3></div>
</div>
