<div class="col-12 row">
  <h3>Blue</h3>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--primary-blue);"></div>
    <code>var(--primary-blue)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--sap-blue);"></div>
    <code>var(--sap-blue)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--light-blue);"></div>
    <code>var(--light-blue)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--background-blue);"></div>
    <code>var(--background-blue)</code>
  </div>
</div>
<div class="col-12 row">
  <h3>Grey</h3>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--black);"></div>
    <code>var(--black)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--primary-border);"></div>
    <code>var(--primary-border)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--light-grey);"></div>
    <code>var(--light-grey)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--background-grey);"></div>
    <code>var(--background-grey)</code>
  </div>
</div>
<div class="col-12 row">
  <h3>Secondary Colors</h3>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--primary-orange);"></div>
    <code>var(--primary-orange)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--dark-orange);"></div>
    <code>var(--dark-orange)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--status-complete);"></div>
    <code>var(--status-complete)</code>
  </div>
</div>
<div class="col-12 row">
  <h3>Other</h3>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--primary-grey);"></div>
    <code>var(--primary-grey)</code>
  </div>
  <div class="col-3">
    <div class="site-color_palette" style="background-color: var(--main-bg-color);"></div>
    <code>var(--main-bg-color)</code>
  </div>
</div>
