<div class="col-12">
  <p>Click the "save" button to see the behavior.</p>
  <div class="card_content_body">
    <div class="topnav">
      <div>
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
        <div class="pull-right">
          <button type="button" class="btn btn--lg btn--primary" name="button">Cancel</button>
          <button type="button" class="btn btn--lg btn--info" name="button">Save</button>
        </div>
      </div>
      <div class="topnav_tab">
        <a class="topnav_tab_item topnav_tab_item--active" href="#Entity">Entity</a>
        <a class="topnav_tab_item" href="#Attributes">Attributes</a>
        <a class="topnav_tab_item" href="#RelationMapping">Relation mapping</a>
      </div>
    </div>
    <div class="progress_bar_container">
      <div class="progress_bar"></div>
    </div>
  </div>
</div>
