<div class="col-12 ">
  <div class="card_content_body">
    <div class="pagination">
      <a>&laquo;</a>
      <a class="pagination_item--active">1</a>
      <a>2</a>
      <a>3</a>
      <a>4</a>
      <a>5</a>
      <a>6</a>
      <a>&raquo;</a>
    </div>
  </div>
</div>
