<div class="col-12">
  <p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>
  <p>Item 1</p>
  <p>Item 2</p>
  <p>Item 3</p>
  <p>Item 4</p>
  <p>Item 5</p>
  <div class="toggle_content">
    <p>Item 6</p>
    <p>Item 7</p>
    <p>Item 8</p>
    <p>Item 9</p>
    <p>Item 10</p>
  </div>
  <button class="toggle_show-more"><a class="toggle-separator"><span class="toggle_show_text"></span></a></button>
</div>
<div class="col-12">
  <p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>
  <p>Item 1</p>
  <p>Item 2</p>
  <p>Item 3</p>
  <p>Item 4</p>
  <p>Item 5</p>
  <div class="toggle_content">
    <p>Item 6</p>
    <p>Item 7</p>
    <p>Item 8</p>
    <p>Item 9</p>
    <p>Item 10</p>
  </div>
  <button class="toggle_show-less"><a class="toggle-separator"><span class="toggle_show_text"></span></a></button>
</div>
