<div class="col-12">
  <h1>Header h1 is in black weight (700) and --primary-blue color.</h1>
  <h2>Header h2 is in black weight (700) and --primary-grey color.</h2>
  <h3>Header h3 is in bold weight (600) and --primary-grey color.</h3>
  <h4>Header h4 is in bold weight (600) and --primary-border color.</h4>
  <h5>Header h5 is in normal weight (400) and --primary-grey color.</h5>
  <p>Paragraph p is in normal weight (400) and --primary-grey color, <i>some text can be emphasized in Italic (i tag)</i> or <b>Bold (b tag).</b></p>
  <label for="">label (label tag) is capitalized and in --primary-grey color.</label>
</div>
