<div class="col-12">
  <p>Click "save" to see the expected behavior.</p>
  <div class="card_content_body">
    <div class="topnav">
      <div class="">
        <i class="icon-arrow-left"></i>
        <h1>Index Name: Entity Name</h1>
        <div class="pull-right">
          <button type="button" class="btn btn--sm btn--primary" name="button">Cancel</button>
          <button id="openAlertDanger" type="button" class="btn btn--sm btn--info" name="button">Save</button>
        </div>
      </div>
      <div class="topnav_tab">
        <a class="topnav_tab_item topnav_tab_item--active" href="#Searchable">Searchable</a>
        <a class="topnav_tab_item" href="#Facets">Facets</a>
        <a class="topnav_tab_item" href="#Highlight">Highlight</a>
        <a class="topnav_tab_item" href="#Spellcheck">Spell Check</a>
        <a class="topnav_tab_item" href="#Ranking">Ranking</a>
        <a class="topnav_tab_item" href="#FuzzySearch">Fuzzy Search</a>
        <a class="topnav_tab_item" href="#Display">Display</a>
        <a class="topnav_tab_item" href="#NavigationAndAuthorization">Navigation and Authorization</a>
      </div>
    </div>
    <div id="openAlertDangerPanel" class="alert alert--danger" style="display: none;">
      <i class="icon-decline"></i>
      <b>Danger!</b> Indicates a dangerous or potentially negative action.
    </div>
  </div>
</div>

<div class="col-12">
  <p>Variations</p>
  <div class="card_content_body">
    <div class="alert alert--danger">
      <i class="icon-decline"></i>
      <b>Danger!</b> Indicates a dangerous or potentially negative action.
    </div>
    <div class="alert alert--success">
      <i class="icon-decline"></i>
      <b>Success!</b> Indicates a successful or positive action.
    </div>
    <div class="alert alert--info">
      <i class="icon-decline"></i>
      <b>Info!</b> Indicates a neutral informative change or action.
    </div>
    <div class="alert alert--warning">
      <i class="icon-decline"></i>
      <b>Warning!</b> Indicates a warning that might need attention.
    </div>
  </div>
</div>
