<div class="col-12">
  <p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>
  <p>Make sure the "autocomplete" is off.</p>
  <div class="card_content_body">
    <div class="form-group col-6">
      <label for="index">dropdown menu with filter</label>
      <form class="dropdown" action="" method="post">
        <input type="text" autocomplete="off" placeholder="Select Index" class="input--text dropdown_btn">
        <i class="icon-slim-arrow-down"></i>
        <ul class="dropdown_list">
          <li>About</li>
          <li>Base</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>Custom</li>
          <li>Support</li>
          <li>Tools</li>
        </ul>
      </form>
    </div>
    <div class="form-group col-6">
      <label for="index">disabled dropdown menu with filter</label>
      <form class="dropdown" action="" method="post">
        <input type="text" autocomplete="off" placeholder="Select Index" class="input--text dropdown_btn" disabled>
        <i class="icon-slim-arrow-down"></i>
        <ul class="dropdown_list">
          <li>About</li>
          <li>Base</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>Custom</li>
          <li>Support</li>
          <li>Tools</li>
        </ul>
      </form>
    </div>
  </div>
</div>
