<div class="col-12">
  <p>Make sure to provide an action on the empty status page.</p>
  <div class="empty-status">You don't have any data indexed yet.</div>
  <button type="button" class="btn--block" onclick="appendBlock()">Add New Data Source</button>
  <p>Empty status with action:</p>
  <button class="empty-status">You don't have any data indexed yet. Click to index your first source URL.</button>
  <button type="button" class="btn--block" onclick="appendBlock()">Add New Data Source</button>
</div>
