<div class="col-12">
  <b>See also:</b>
  <a href="#componentSelect"><button type="button" name="button" class="btn btn--sm btn--primary">Select Element</button></a>
  <div class="card_content_body">
    <div class="form-group col-6">
      <label for="index">drowdown menu</label>
      <form class="dropdown" action="" method="post">
        <input class="dropdown_btn" type="button" value="Select Index">
        <i class="icon-slim-arrow-down"></i>
        <ul class="dropdown_list">
          <li>About</li>
          <li>Base</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>Custom</li>
          <li>Support</li>
          <li>Tools</li>
        </ul>
      </form>
    </div>
    <div class="form-group col-6">
      <label for="index">disabled drowdown menu</label>
      <form class="dropdown" action="" method="post">
        <input class="dropdown_btn" type="button" value="Select Index" disabled>
        <i class="icon-slim-arrow-down"></i>
        <ul class="dropdown_list">
          <li>About</li>
          <li>Base</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>Custom</li>
          <li>Support</li>
          <li>Tools</li>
        </ul>
      </form>
    </div>
    <div class="form-group col-3">
      <label for="index">icon drowdown menu</label>
      <form class="dropdown" action="" method="post">
        <button type="button" name="button" title="settings" class="dropdown_btn btn btn--lg--icon btn--plain icon-settings"></button>
        <ul class="dropdown_list">
          <li>Profile</li>
          <li>Custom</li>
          <li>Support</li>
          <li>Tools</li>
          <li>Sign Out</li>
        </ul>
      </form>
    </div>
  </div>
</div>
