<div class="col-12">
  <h3>Append Block</h3>
  <div class="appendBlock">
    <div class="card_content_body">Please avoid putting the block button on the grey background <code>class="card_content_body"</code> as they should be on the same level.</div>
  </div>
  <button type="button" class="btn--block" onclick="appendBlock()">Add New Data Source</button>
</div>
<div class="col-12">
  <h3>Prepend Block</h3>
  <button type="button" class="btn--block" onclick="prependBlock()">Add New Data Source</button>
  <div class="prependBlock">
    <div class="card_content_body">Please avoid putting the block button on the grey background <code>class="card_content_body"</code> as they should be on the same level.</div>
  </div>
</div>
