<div class="row">
  <div class="col-1"><h3>1. col-1</h3></div>
  <div class="col-1"><h3>2. col-1</h3></div>
  <div class="col-1"><h3>3. col-1</h3></div>
  <div class="col-1"><h3>4. col-1</h3></div>
  <div class="col-1"><h3>5. col-1</h3></div>
  <div class="col-1"><h3>6. col-1</h3></div>
  <div class="col-1"><h3>7. col-1</h3></div>
  <div class="col-1"><h3>8. col-1</h3></div>
  <div class="col-1"><h3>9. col-1</h3></div>
  <div class="col-1"><h3>10. col-1</h3></div>
  <div class="col-1"><h3>11. col-1</h3></div>
  <div class="col-1"><h3>12. col-1</h3></div>
</div>
<div class="row">
  <div class="col-2"><h3>1. col-2</h3></div>
  <div class="col-2"><h3>2. col-2</h3></div>
  <div class="col-2"><h3>3. col-2</h3></div>
  <div class="col-2"><h3>4. col-2</h3></div>
  <div class="col-2"><h3>5. col-2</h3></div>
  <div class="col-2"><h3>6. col-2</h3></div>
</div>
<div class="row">
  <div class="col-3"><h3>1. col-3</h3></div>
  <div class="col-3"><h3>2. col-3</h3></div>
  <div class="col-3"><h3>3. col-3</h3></div>
  <div class="col-3"><h3>4. col-3</h3></div>
</div>
<div class="row">
  <div class="col-4"><h3>1. col-4</h3></div>
  <div class="col-4"><h3>2. col-4</h3></div>
  <div class="col-4"><h3>3. col-4</h3></div>
</div>
<div class="row">
  <div class="col-6"><h3>1. col-6</h3></div>
  <div class="col-6"><h3>2. col-6</h3></div>
</div>
<div class="col-12"><h3>col-12</h3></div>
