<div class="col-12">
  <b>There're two types of form groups: basic form groups (vertically stacked forms) and inline form groups.</b>
  <p>Use basic form group
    <code>form-group</code> for basic form groups:
  </p>
  <div class="card_content_body">
    <div class="col-12 form-group">
      <label for="text">text input</label>
      <input class="input--text" type="text" name="text" value="" placeholder="My Index">
    </div>
    <div class="col-12 form-group">
      <label for="">drowdown menu</label>
      <form class="dropdown" action="" method="post">
        <input class="dropdown_btn" type="button" value="Select Index">
        <i class="icon-slim-arrow-down"></i>
        <ul class="dropdown_list" style="display: none;">
          <li class="dropdown_list_item">About</li>
          <li class="dropdown_list_item">Base</li>
          <li class="dropdown_list_item">Blog</li>
          <li class="dropdown_list_item">Contact</li>
          <li class="dropdown_list_item">Custom</li>
          <li class="dropdown_list_item">Support</li>
          <li class="dropdown_list_item">Tools</li>
        </ul>
      </form>
    </div>
    <div class="col-12 form-group">
      <label for="index">select</label>
      <div>
        <select name="Index">
          <option value="australia">AIN</option>
          <option value="canada">Vehicle Insight</option>
          <option value="usa">Micron</option>
        </select>
      </div>
    </div>

  </div>
</div>

<div class="col-12">
  <p>Use inline form group
    <code>form-group--inline</code> for inline form groups:
  </p>
  <p>One column inline form:</p>
  <div class="card_content_body">
    <div class="form-group--inline">
      <label class="col-2" for="text">text input</label>
      <div class="col-10">
        <input class="input--text" type="text" name="Natextme" value="" placeholder="My Index">
      </div>
    </div>
    <div class="form-group--inline">
      <label class="col-2" for="" disabled>drowdown menu</label>
      <div class="col-10">
        <form class="dropdown" action="" method="post">
          <input class="dropdown_btn" type="button" value="Select Index">
          <i class="icon-slim-arrow-down"></i>
          <ul class="dropdown_list" style="display: none;">
            <li class="dropdown_list_item">About</li>
            <li class="dropdown_list_item">Base</li>
            <li class="dropdown_list_item">Blog</li>
            <li class="dropdown_list_item">Contact</li>
            <li class="dropdown_list_item">Custom</li>
            <li class="dropdown_list_item">Support</li>
            <li class="dropdown_list_item">Tools</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <p>2 columns inline form:</p>
  <div class="card_content_body row">
    <div class="col-6 form-group--inline">
      <label class="col-4" for="Name">Text input</label>
      <div class="col-8">
        <input class="input--text" type="text" name="Name" value="" placeholder="My Index">
      </div>
    </div>
    <div class="col-6 form-group--inline">
      <label class="col-4" for="text">disabled text input</label>
      <div class="col-8">
        <input class="input--text" type="text" name="Natextme" value="" placeholder="My Index" disabled>
      </div>
    </div>
    <div class="col-6 form-group--inline">
      <label class="col-4" for="">drowdown menu</label>
      <div class="col-8">
        <form class="dropdown" action="" method="post">
          <input class="dropdown_btn" type="button" value="Select Index">
          <i class="icon-slim-arrow-down"></i>
          <ul class="dropdown_list" style="display: none;">
            <li class="dropdown_list_item">About</li>
            <li class="dropdown_list_item">Base</li>
            <li class="dropdown_list_item">Blog</li>
            <li class="dropdown_list_item">Contact</li>
            <li class="dropdown_list_item">Custom</li>
            <li class="dropdown_list_item">Support</li>
            <li class="dropdown_list_item">Tools</li>
          </ul>
        </form>
      </div>
    </div>
    <div class="col-6 form-group--inline">
      <label class="col-4" for="index">disabled drowdown menu</label>
      <div class="col-8">
        <form class="dropdown" action="" method="post">
          <input class="dropdown_btn" type="button" value="Select Index" disabled>
          <i class="icon-slim-arrow-down"></i>
          <ul class="dropdown_list" style="display: none;">
            <li class="dropdown_list_item">About</li>
            <li class="dropdown_list_item">Base</li>
            <li class="dropdown_list_item">Blog</li>
            <li class="dropdown_list_item">Contact</li>
            <li class="dropdown_list_item">Custom</li>
            <li class="dropdown_list_item">Support</li>
            <li class="dropdown_list_item">Tools</li>
          </ul>
        </form>
      </div>
    </div>
    <div class="col-6 form-group--inline">
      <label class="col-4" for="text">plain text</label>
      <div class="col-8">
        <div class="form--plain-text">
          Some plain text.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <p>3 columns form:</p>
  <div class="card_content_body">
    <div class="col-4 form-group--inline">
      <label class="col-2" for="URL">URL</label>
      <div class="col-10">
        <input class="input--text" type="text" name="URL" value="" placeholder="My Index">
      </div>
    </div>
    <div class="col-4 form-group--inline">
      <label class="col-2" for="index">Label</label>
      <div class="col-10">
        <form class="dropdown" action="" method="post">
          <input class="dropdown_btn" type="button" value="Select Index">
          <i class="icon-slim-arrow-down"></i>
          <ul class="dropdown_list" style="display: none;">
            <li class="dropdown_list_item">About</li>
            <li class="dropdown_list_item">Base</li>
            <li class="dropdown_list_item">Blog</li>
            <li class="dropdown_list_item">Contact</li>
            <li class="dropdown_list_item">Custom</li>
            <li class="dropdown_list_item">Support</li>
            <li class="dropdown_list_item">Tools</li>
          </ul>
        </form>
      </div>
    </div>
    <div class="col-4 form-group--inline">
      <label class="col-2" for="index">Index</label>
      <div class="col-10">
        <select name="Index">
          <option value="australia">AIN</option>
          <option value="canada">Vehicle Insight</option>
          <option value="usa">Micron</option>
        </select>
      </div>
    </div>
  </div>
</div>
